{% extends 'base.html.twig' %}
{% block title %}
    Confirm your email
{% endblock %}
{% block description %}
    Confirm email to continue
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="py-5 alert alert-warning">
                <h1 class="h3 mb-3 font-weight-normal"> Confirm your email</h1>
                <p>
                    An email with a link has been sent. Click on it to activate your account before
                    login.
                </p>
            </div>
        </div>
    </div>
{% endblock %}